node_modules/
**/node_modules/
dist/
**/dist/
dist-ssr/
**/dist-ssr/

.env
*.local

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vscode/*
!.vscode/extensions.json
next-steps.md